{% extends "base.html" %}

{% block body %}
    <table border="1">
        <thead>
        <th>Name</th>
        <th>Descrption</th>
        <th>Price</th>
        <th>Link</th>
        </thead>
        <tbody>
        {% for product in object_list %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}$</td>
                <td><a href="{{ product.get_absolute_url }}">link</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
