{% extends "base.html" %}

{% block body %}
    <table border="1">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
        </thead>
        <thbody>
            {% for category in object_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td><a href="{{ category.get_absolute_url }}">link</a></td>
                </tr>
            {% endfor %}
        </thbody>
    </table>
{% endblock %}